/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
  @import "bootstrap";

.navbar {
    background-color: #EFC4FB;
    height: 70px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #FFF9B0;

}

.navbar-nav{
    background-color: #EFC4FB;
}


.color-me{
    color: white;
    font-size: medium;
}

a:hover {
    background-color: #B8E7EF;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    color: white;
}


html, body, .container-fluid {
    background-color: #B8E7EF;
    padding-top: 40px;
}

.dropdown-menu{
  position:relative;
  }

div.c {
    bottom: 70px;
    max-width: 100%;
    display: inline-block;
}

.p {
    color: white;

  }

h1{
    color: #EFC4FB;
    margin: 40px 0px 20px;
}

#clockdiv{
    max-width: 100%;
      font-family: sans-serif;
      color: #fff;
      text-align: center;
 }
#clockdiv > div{
    max-width: 100%;
      padding: 6px;
      border-radius: 3px;
      background: #EFC4FB;
      display: inline-block;
}
#clockdiv div > span{
    max-width: 100%;
      padding: 8px;
      border-radius: 3px;
      background: #FF83A8;
      display: inline-block;
}
.smalltext{
      padding-top: 5px;
}